html,
body {
  overflow: hidden;
  font-family: "Mabry pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.spin {
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg) scale(0.7);
  }
  to {
    transform: rotate(360deg) scale(0.7);
  }
}

.nav-link {
  text-decoration: none;
  line-height: 24px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  user-select: none;
}

/* Underline effect when hover */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: black;
  transition: width .4s;
}

.nav-link:hover::after{
  width: 100%;
  transition: width .4s;
}

.primary-button {
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 3px 4px black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFECA8;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
  color: black;
}

.primary-button:hover {
  box-shadow: none;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #90A8ED;
  color: black;
  text-align: center;
  border-top: 1px solid black;
}

.profile-img {
  animation: morph 8s ease-in-out infinite;
  background-color: #FE91E8;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  20% {
    border-radius: 45% 50% 55% 50%/55% 55% 45% 50%;
  }
  40% {
    border-radius: 35% 55% 65% 45%/60% 50% 35% 50%;
  }
  60% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  80% {
    border-radius: 40% 50% 60% 50%/50% 55% 40% 50%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}