@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply border-b border-black;
    @apply snap-start snap-always;
    @apply flex w-full flex-col items-center;
  }
}

@layer components {
  .card {
    @apply flex flex-col items-center gap-[20px] rounded-lg border-2
    border-solid border-gray-900 bg-white px-[30px] py-[20px] shadow-md 
    lg:h-[180px] lg:flex-row lg:justify-between lg:gap-[50px];
  }

  .icon {
    @apply h-[60px] w-[60px] shrink-0 rounded-full border-2 
    border-solid border-black shadow-md;
  }

  .card-title {
    @apply flex-none text-center text-lg font-bold lg:text-left lg:text-3xl;
  }

  .card-description {
    @apply text-wrap text-center text-xs lg:text-left lg:text-base;
  }

  .nav-link {
    @apply relative hidden cursor-pointer text-base font-normal text-black no-underline
    lg:inline lg:text-lg lg:font-medium; /* Responsive styles */
  }
}

@font-face {
  font-family: "Mabry pro";
  src: url(fonts/MabryPro-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mabry pro";
  src: url(fonts/MabryPro-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Mabry pro";
  src: url(fonts/MabryPro-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

html,
body {
  overflow: hidden;
  font-family: "Mabry pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.spin {
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg) scale(0.7);
  }
  to {
    transform: rotate(360deg) scale(0.7);
  }
}

/* Underline effect when hover */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: black;
  transition: width 0.4s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.4s;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #90a8ed;
  color: black;
  text-align: center;
  border-top: 1px solid black;
}

.profile-img {
  animation: morph 8s ease-in-out infinite;
  background-color: #fe91e8;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  20% {
    border-radius: 45% 50% 55% 50%/55% 55% 45% 50%;
  }
  40% {
    border-radius: 35% 55% 65% 45%/60% 50% 35% 50%;
  }
  60% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  80% {
    border-radius: 40% 50% 60% 50%/50% 55% 40% 50%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
